<md-dialog aria-label="Pre-Requisite"  ng-cloak >
  <form ng-controller="addTrainerCtrl as ctrl" class="autocompletedemoInsideDialog">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Pick Trainer</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          x
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
    <div id="feedLoading" ng-show="isLoading" text-align="center" style="padding-left:45%;width:10%;"><img src="assets/img/balls.svg"/></div>
  <div class="md-dialog-content">

     <div flex>
      <md-input-container class="md-block">
        <label>Search</label>
        <input  ng-model="typeSelectedFilter">
      
      </md-input-container>
  </div>
  
  
       <!-- ROW 1 start -->
<div layout="row" layout-xs="column">
 <div flex>
  <md-autocomplete
           md-no-cache="true"
          md-selected-item="ctrl.selectedUser"
          md-search-text-change="ctrl.searchUserChange(ctrl.searchUser)"
          md-search-text="ctrl.searchUser"
          md-selected-item-change="ctrl.selectedUserChange(item)"
         md-items="item in ctrl.querySearchUser(ctrl.searchUser)"
          md-item-text="item"
          md-min-length="0"
          placeholder="Name">
        <md-item-template>
          <span md-highlight-text="ctrl.searchUser" md-highlight-flags="^i">{{item}}</span>
        </md-item-template>
        <md-not-found>
          No Fullname matching "{{ctrl.searchUser}}" were found.
        </md-not-found>
      </md-autocomplete> 
  </div>
  <div style="width:2%"></div>
  <div flex>
  <md-autocomplete
           md-no-cache="true"
          md-selected-item="ctrl.selectedUser"
          md-search-text-change="ctrl.searchUserChange(ctrl.searchUser)"
          md-search-text="ctrl.searchUser"
          md-selected-item-change="ctrl.selectedUserChange(item)"
         md-items="item in ctrl.querySearchUser(ctrl.searchUser)"
          md-item-text="item"
          md-min-length="0"
          placeholder="email">
        <md-item-template>
          <span md-highlight-text="ctrl.searchUser" md-highlight-flags="^i">{{item}}</span>
        </md-item-template>
        <md-not-found>
          No Fullname matching "{{ctrl.searchUser}}" were found.
        </md-not-found>
      </md-autocomplete> 
  </div>
  <div style="width:2%"></div>
  <div flex>
  <md-autocomplete
           md-no-cache="true"
          md-selected-item="ctrl.selectedUser"
          md-search-text-change="ctrl.searchUserChange(ctrl.searchUser)"
          md-search-text="ctrl.searchUser"
          md-selected-item-change="ctrl.selectedUserChange(item)"
         md-items="item in ctrl.querySearchUser(ctrl.searchUser)"
          md-item-text="item"
          md-min-length="0"
          placeholder="phonenumber">
        <md-item-template>
          <span md-highlight-text="ctrl.searchUser" md-highlight-flags="^i">{{item}}</span>
        </md-item-template>
        <md-not-found>
          No User matching "{{ctrl.searchUser}}" were found.
        </md-not-found>
      </md-autocomplete> 
  </div>
  <div style="width:2%"></div>
<div flex>
  <md-autocomplete
           md-no-cache="true"
          md-selected-item="ctrl.selectedUser"
          md-search-text-change="ctrl.searchUserChange(ctrl.searchUser)"
          md-search-text="ctrl.searchUser"
          md-selected-item-change="ctrl.selectedUserChange(item)"
         md-items="item in ctrl.querySearchUser(ctrl.searchUser)"
          md-item-text="item"
          md-min-length="0"
          placeholder="skills">
        <md-item-template>
          <span md-highlight-text="ctrl.searchUser" md-highlight-flags="^i">{{item}}</span>
        </md-item-template>
        <md-not-found>
          No User matching "{{ctrl.searchUser}}" were found.
        </md-not-found>
      </md-autocomplete> 
  </div>
</div>
  <div style="padding-top:1%"></div>
<div layout="row" layout-xs="column" ng-init="perPage=5">
  <div flex>
      <md-input-container class="md-block" style="float:right">
        <label>Item Per Page</label>
        <input type="number"   ng-model="perPage">
        
      </md-input-container>
  </div>
</div>
<!-- row 1 end -->

    <table class="responstable">
    <tr>
    <th><md-checkbox ng-model="selectedAll" ng-change="checkAll()" aria-label="Checkbox 1">
          </md-checkbox></th>
    <th data-th="Trainer details" ng-click="sortTitle()">Full Name<md-icon class="material-icons"><i class="material-icons">{{nameSortIcon}}</i></md-icon></th>
    <th ng-click="sortType()">Email<md-icon class="material-icons"><i class="material-icons">{{emailSortIcon}}</i></md-icon></th>
    <th ng-click="sortDuration()">Phone Number<md-icon class="material-icons"><i class="material-icons">{{phonenumberSortIcon}}</i></md-icon></th>
    
    </tr>
  
    <tr dir-paginate="item in getInternalTrainer | orderBy:orderList | filter:typeSelectedFilter |  itemsPerPage:5 | itemsPerPage: perPage " >
    <td><md-checkbox ng-change="checkOne($index)" ng-disabled="item.Checked" class="checkid" ng-model="item.Selected" aria-label="Checkbox 1">
          </md-checkbox></td>
    <td>{{item.firstname +item.middlename+item.lastname}}</td>
     <td>{{item.email}}</td>
    <td>{{item.mobilenumber}}</td>
    </tr> 
  </table>
  <dir-pagination-controls templateurl="angular/directives/dirPagination.tpl.html" style="float:right"></dir-pagination-controls>
  </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" ng-click="saveActionemployee()" style="margin-right:20px;">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>