<form name="CourseForm" ng-controller="addTrainerCtrl as ctrl" ng-init="getTrainermgmt()">
<div layout="row" layout-xs="column">
  
     <div flex>
      <md-input-container class="md-block">
        <label>Search</label>
        <input  ng-model="typeSelectedFilter">
      
      </md-input-container>
  </div>
  
</div>
<!-- ROW 1 Starts -->
<div layout="row" layout-xs="column">
  <div flex>
  <md-autocomplete
          ng-disabled="ctrl.isDisabled"
          md-no-cache="true"
          md-selected-item="ctrl.selectedType"
          md-search-text-change="ctrl.searchTypeChange(ctrl.searchType)"
          md-search-text="ctrl.searchType"
          md-selected-item-change="ctrl.selectedTypeChange(item)"
         md-items="item in ctrl.querySearchType(ctrl.searchType)"
          md-item-text="item"
          md-min-length="0"
          placeholder="Trainer Type">
        <md-item-template>
          <span md-highlight-text="ctrl.searchType" md-highlight-flags="^i">{{item}}</span>
        </md-item-template>
        <md-not-found>
          No TrainerType matching "{{ctrl.searchType}}" were found.
        </md-not-found>
      </md-autocomplete>
  </div>
 <div style="width:2%"></div>
    

 <div flex>
  
      <md-autocomplete
           md-no-cache="true"
          md-selected-item="ctrl.selectedCompetency"
          md-search-text-change="ctrl.searchCompetencyChange(ctrl.searchCompetency)"
          md-search-text="ctrl.searchCompetency"
          md-selected-item-change="ctrl.selectedCompetencyChange(item)"
         md-items="item in ctrl.querySearchCompetency(ctrl.searchCompetency)"
          md-item-text="item"
          md-min-length="0"
          placeholder="Competency">
        <md-item-template>
          <span md-highlight-text="ctrl.searchCompetency" md-highlight-flags="^i">{{item}}</span>
        </md-item-template>
        <md-not-found>
          No Competency matching "{{ctrl.searchCompetency}}" were found.
        </md-not-found>
      </md-autocomplete>
  </div>
  <div style="width:2%"></div>
  
  <div flex>
      <md-autocomplete
          ng-disabled="ctrl.dis_subcompetency"
          md-no-cache="true"
          md-selected-item="ctrl.selectedSubCompetency"
          md-search-text-change="ctrl.searchSubCompetencyChange(ctrl.searchSubCompetency)"
          md-search-text="ctrl.searchSubCompetency"
          md-selected-item-change="ctrl.selectedSubCompetencyChange(item)"
          md-items="item in ctrl.querySearchSubCompetency(ctrl.searchSubCompetency)"
          md-item-text="item"
          md-min-length="0"
          placeholder="SubCompetency">
        <md-item-template>
          <span md-highlight-text="ctrl.searchSubCompetency" md-highlight-flags="^i">{{item}}</span>
        </md-item-template>
        <md-not-found>
          No SubCompetency matching "{{ctrl.searchSubCompetency}}" were found.
        </md-not-found>
      </md-autocomplete>
  </div>
  <div style="width:2%"></div>
  <div flex>
      <md-autocomplete
          ng-disabled="ctrl.dis_skills"
          md-no-cache="true"
          md-selected-item="ctrl.selectedSkills"
          md-search-text-change="ctrl.searchSkillsChange(ctrl.searchSkills)"
          md-search-text="ctrl.searchSkills"
          md-selected-item-change="ctrl.selectedSkillsChange(item)"
          md-items="item in ctrl.querySearchSkills(ctrl.searchSkills)"
          md-item-text="item"
          md-min-length="0"
          placeholder="Skills">
        <md-item-template>
          <span md-highlight-text="ctrl.searchSkills" md-highlight-flags="^i">{{item}}</span>
        </md-item-template>
        <md-not-found>
          No Skills matching "{{ctrl.searchSkills}}" were found.
        </md-not-found>
      </md-autocomplete>
  </div>

</div>
<div style="padding-bottom:2%"></div>
<div layout="row" layout-xs="column">
<div flex>
    <md-checkbox ng-model="activestatus" ng-change="getTrainermgmt(activestatus)" aria-label="Checkbox 1">
           Show Inactive Trainer also
          </md-checkbox>
   
</div>
</div>
<div layout="row" layout-xs="column" ng-init="perPage=2">
  <div flex>
      <md-input-container class="md-block" style="float:right">
        <label>Item Per Page</label>
        <input type="number"   ng-model="perPage">
        
      </md-input-container>
  </div>
</div>

<div id="feedLoading" ng-show="isLoading" text-align="center" style="padding-left:45%;width:10%;"><img src="assets/img/balls.svg"/></div>
<div layout="row" layout-xs="column">

   <div flex>
      <table class="responstable">
  <tr>
    
    <th data-th="Trainer details" ng-click="sorttrainer()">Trainer Name<md-icon class="material-icons"><i class="material-icons">{{trainerSortIcon}}</i></md-icon></th>
     <th ng-click="sorttrainertype()">Trainer Type<md-icon class="material-icons"><i class="material-icons">{{trainertypeSortIcon}}</i></md-icon></th>
    <th ng-click="sortSkills()">Skills<md-icon class="material-icons"><i class="material-icons">{{trainerSkillsSortIcon}}</i></md-icon></th>
   
    <th colspan="4" style="text-align:center;">Action</th>
  </tr>



  <tr   dir-paginate="item in getTrainerList | orderBy:orderList | filter:typeSelectedFilter | itemsPerPage: perPage">  
    <td>{{item.selectemployee[0].firstname +" "+item.selectemployee[0].lastname}}</td>
    <td>{{item.trainertype}}</td>
    <td>{{item.selectcompetency[0].skills}}</td>   
   <td class="actionclass" ng-hide="item.trainerstatus"><md-button class="actionbtn" ng-click="activeTrainer(item)" aria-label="Info"><i class="fa fa-eye-slash"></i></md-button></td>
   <td class="actionclass" ng-show="item.trainerstatus"><md-button class="actionbtn" ng-click="activeTrainer(item)" aria-label="Info"><md-icon class="material-icons"><i class="material-icons"><i class="material-icons">remove_red_eye</i></i></md-icon></md-button></td>
   <td class="actionclass"><md-button ng-click="editTrainer(item)" class="actionbtn" ng-click="" aria-label="Info"><md-icon class="material-icons"><i class="material-icons">mode_edit</i></md-icon></md-button></td>
    <td class="actionclass"><md-button class="actionbtn" ng-click="removeTrainermgnt(item)" aria-label="Info"><md-icon class="material-icons"><i class="material-icons">delete_forever</i></md-icon></md-button></td>
  </tr>
  
  
</table>
<dir-pagination-controls templateurl="angular/directives/dirPagination.tpl.html" style="float:right"></dir-pagination-controls>

  </div> 
</div>
<!-- ROW 1 Ends -->
</form>

 <link href="assets/css/course.css" rel="stylesheet">
  <link href="assets/css/font-awesome.css" rel="stylesheet">
  <link href="assets/css/font-awesome.min.css" rel="stylesheet">