

<mdt-table sortable-columns="true" paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}" save-row-callback="saveRowCallback(row)">
    <mdt-header-row>
     
      <mdt-column align-rule="left">Entity</mdt-column>
      
    </mdt-header-row>
    <mdt-row ng-repeat="entity in entitys">
       <mdt-cell 
                editable-field="largeEditDialog"
                editable-field-title="Entity"
                editable-field-max-length="25">
        {{entity.name}}
      </mdt-cell>
    </mdt-row>
  </mdt-table>
</div>