 <md-dialog aria-label="Pre-Requisite"  ng-cloak="" class="autocompletedemoInsideDialog" >
  <form ng-controller="curriculumCtrl as ctrl " ng-init="getCoursedata()">
    
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h6>Pick Course Info</h6>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          x
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
    <div class="md-dialog-content">
     <!-- ROW 1 start -->
<div layout="row" layout-xs="column">
 <div flex>
  
      <md-autocomplete
           md-no-cache="true"
          md-selected-item="ctrl.selectedCourse"
          md-search-text-change="ctrl.searchCourseChange(ctrl.searchCourse)"
          md-search-text="ctrl.searchCourse"
          md-selected-item-change="ctrl.selectedCourseChange(item)"
         md-items="item in ctrl.querySearchCourse(ctrl.searchCourse)"
          md-item-text="item"
          md-min-length="0"
          placeholder="Course">
        <md-item-template>
          <span md-highlight-text="ctrl.searchCourse" md-highlight-flags="^i">{{item}}</span>
        </md-item-template>
        <md-not-found>
          No Course matching "{{ctrl.searchCourse}}" were found.
        </md-not-found>
      </md-autocomplete>
  </div>
  <!-- <div style="width:2%"></div>
  <div flex>
      <md-autocomplete
          ng-disabled="dis_cost"
          md-no-cache="true"
          md-selected-item="ctrl.selectedCost"
          md-search-text-change="ctrl.searchCostChange(ctrl.searchCost)"
          md-search-text="ctrl.searchCost"
          md-selected-item-change="ctrl.selectedCostChange(item)"
          md-items="item in ctrl.querySearchCost(ctrl.searchCost)"
          md-item-text="item"
          md-min-length="0"
          placeholder="Cost">
        <md-item-template>
          <span md-highlight-text="ctrl.searchCost" md-highlight-flags="^i">{{item}}</span>
        </md-item-template>
        <md-not-found>
          No Cost matching "{{ctrl.searchCost}}" were found.
        </md-not-found>
      </md-autocomplete>
  </div> -->
</div>
<!-- row 1 end -->
<div style="padding-bottom:1%"></div>
<!-- row 2 start -->
<div layout="row" layout-xs="column" ng-init="perPage=5">
  <div flex>
      <md-input-container class="md-block" style="float:right">
        <label style="text-style:bold;text-color:black">Item Per Page</label>
        <input type="number"   ng-model="perPage">
        
      </md-input-container>
  </div>
 </div>      
    
    <table class="responstable">
    <tr>
    <th><md-checkbox ng-model="selectedAll" ng-change="Related_Course_checkAll()" aria-label="Checkbox 1">
     </md-checkbox></th>
    <th data-th="Course details"><span>Course</span></th>
    </tr>
  
    <tr dir-paginate="item in Course | itemsPerPage: perPage">
    <td><md-checkbox ng-change="Related_Course_checkOne($index)" class="checkid" ng-model="item.Selected" aria-label="Checkbox 1">
          </md-checkbox></td>
    <td>{{item.course}}</td>
    </tr> 
  </table>

 <dir-pagination-controls template-url="angular/directives/dirPagination.tpl.html" style="float:right"></dir-pagination-controls>
  
</div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
    <md-button ng-click="Related_Course_saveAction()" style="margin-right:20px;">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
  
</md-dialog>

