<div layout="row" layout-xs="column">
<div flex>
      <md-input-container class="md-block">
        <label>Room Type</label>
        <input  ng-model="masterdata.mRoomType" ng-change="OnCheckExist(masterdata)">
      
      </md-input-container>
    </div> 
</div>
<span style="color:red">{{checkmsg}}</span>
<div layout="row" layout-xs="column">
    <div flex>
      <md-button class="md-raised md-primary" ng-disabled="!masterdata.mRoomType || notexist" ng-click="savedata(masterdata)" style="float:right">{{action_name}}</md-button>
    </div>
</div>