<div class="content">  

<div class="panel panel-white">
<div class="panel-heading">
<div class="panel-body">

<div class="col-md-3">
<h3>Venue Master</h3>
<ul>
<li><a ng-href="/MVenuetype">Venue Type</a></li>
<li><a ng-href="MRoomtype">Room Type</a></li>
<li><a ng-href="/MSeattype">Seat Type</a></li>
<li><a ng-href="/MEquipment">Equipments</a></li>
<li><a ng-href="/MTag">Tags</a></li>


</ul>
</div>

<!-- Start Of master data -->

<!-- End of Pannel Div -->
</div>
</div>
</div>



</div>
<!-- /content area -->
