

<md-grid-list md-cols="{{widthEle}}" md-gutter="1em" md-row-height="4:3">
  
  <md-grid-tile style="background-color:#F44336"><a href="/managecourse"><i style="font-size:48px !important;color:#FFF;" class="material-icons">assignment_ind</i></a><a href="/managecourse" style="position:absolute;bottom:0;left:0;width:100%;height:20%;background-color:#B71C1C;text-align:center;color:#FFF;padding-top:2px;font-weight:bold;font-size:17px;">Organization</a></md-grid-tile>
  
  <md-grid-tile style="background-color:#E91E63"><a href="/managecourse"><i style="font-size:48px !important;color:#FFF;" class="material-icons">build</i></a><a href="/managecourse" style="position:absolute;bottom:0;left:0;width:100%;height:20%;background-color:#880E4F;text-align:center;color:#FFF;padding-top:2px;font-weight:bold;font-size:17px;">Job</a></md-grid-tile>
  
  <md-grid-tile style="background-color:#9C27B0"><a href="/managecourse"><i style="font-size:48px !important;color:#FFF;" class="material-icons">assessment</i></a><a href="/managecourse" style="position:absolute;bottom:0;left:0;width:100%;height:20%;background-color:#4A148C;text-align:center;color:#FFF;padding-top:2px;font-weight:bold;font-size:17px;">Competency & Skills</a></md-grid-tile>
  
  <md-grid-tile style="background-color:#3F51B5"><a href="/managecourse"><i style="font-size:48px !important;color:#FFF;" class="material-icons">location_on</i></a><a href="/managecourse" style="position:absolute;bottom:0;left:0;width:100%;height:20%;background-color:#1A237E;text-align:center;color:#FFF;padding-top:2px;font-weight:bold;font-size:17px;">Location</a></md-grid-tile>
  
  <md-grid-tile style="background-color:#673AB7"><a href="/managecourse"><i style="font-size:48px !important;color:#FFF;" class="material-icons">assignment</i></a><a href="/managecourse" style="position:absolute;bottom:0;left:0;width:100%;height:20%;background-color:#311B92;text-align:center;color:#FFF;padding-top:2px;font-weight:bold;font-size:17px;">Certification</a></md-grid-tile>

</md-grid-list>
 <div style="padding-bottom:2%"></div>
 <md-grid-list md-cols="{{widthEle}}" md-gutter="1em" md-row-height="4:3">
  
  <md-grid-tile style="background-color:#4CAF50"><a href="/managecourse"><i style="font-size:48px !important;color:#FFF;" class="material-icons">language</i></a><a href="/managecourse" style="position:absolute;bottom:0;left:0;width:100%;height:20%;background-color:#1B5E20;text-align:center;color:#FFF;padding-top:2px;font-weight:bold;font-size:17px;">Language</a></md-grid-tile>
  
  <md-grid-tile style="background-color:#FFC107"><a href="/managecourse"><i style="font-size:48px !important;color:#FFF;" class="material-icons">record_voice_over</i></a><a href="/managecourse" style="position:absolute;bottom:0;left:0;width:100%;height:20%;background-color:#FFAB00;text-align:center;color:#FFF;padding-top:2px;font-weight:bold;font-size:17px;">Trainer</a></md-grid-tile>
  
  <md-grid-tile style="background-color:#795548"><a href="/managecourse"><i style="font-size:48px !important;color:#FFF;" class="material-icons">perm_identity</i></a><a href="/managecourse" style="position:absolute;bottom:0;left:0;width:100%;height:20%;background-color:#3E2723;text-align:center;color:#FFF;padding-top:2px;font-weight:bold;font-size:17px;">User Role</a></md-grid-tile>
</md-grid-list>
    
  <div style="padding-bottom:2%"></div>

