<md-grid-list md-cols="{{widthEle}}" md-gutter="1em" md-row-height="4:3">
  
  <md-grid-tile style="background-color:#F44336"><a href="/managecourse"><i style="font-size:48px !important;color:#FFF;" class="material-icons">assignment_ind</i></a><a href="/managecourse" style="position:absolute;bottom:0;left:0;width:100%;height:20%;background-color:#B71C1C;text-align:center;color:#FFF;padding-top:2px;font-weight:bold;font-size:17px;">Organization</a></md-grid-tile>
  
  <md-grid-tile style="background-color:#E91E63"><a href="/managecourse"><i style="font-size:48px !important;color:#FFF;" class="material-icons">build</i></a><a href="/managecourse" style="position:absolute;bottom:0;left:0;width:100%;height:20%;background-color:#880E4F;text-align:center;color:#FFF;padding-top:2px;font-weight:bold;font-size:17px;">Job</a></md-grid-tile>
  
  <md-grid-tile style="background-color:#9C27B0"><a href="/managecourse"><i style="font-size:48px !important;color:#FFF;" class="material-icons">assessment</i></a><a href="/managecourse" style="position:absolute;bottom:0;left:0;width:100%;height:20%;background-color:#4A148C;text-align:center;color:#FFF;padding-top:2px;font-weight:bold;font-size:17px;">Competency & Skills</a></md-grid-tile>
  
  <md-grid-tile style="background-color:#3F51B5"><a href="/managecourse"><i style="font-size:48px !important;color:#FFF;" class="material-icons">location_on</i></a><a href="/managecourse" style="position:absolute;bottom:0;left:0;width:100%;height:20%;background-color:#1A237E;text-align:center;color:#FFF;padding-top:2px;font-weight:bold;font-size:17px;">Location</a></md-grid-tile>
  
  <md-grid-tile style="background-color:#673AB7"><a href="/managecourse"><i style="font-size:48px !important;color:#FFF;" class="material-icons">assignment</i></a><a href="/managecourse" style="position:absolute;bottom:0;left:0;width:100%;height:20%;background-color:#311B92;text-align:center;color:#FFF;padding-top:2px;font-weight:bold;font-size:17px;">Certification</a></md-grid-tile>

</md-grid-list>
 <div style="padding-bottom:2%"></div>
 <md-grid-list md-cols="{{widthEle}}" md-gutter="1em" md-row-height="4:3">
  
  <md-grid-tile style="background-color:#4CAF50"><a href="/managecourse"><i style="font-size:48px !important;color:#FFF;" class="material-icons">language</i></a><a href="/managecourse" style="position:absolute;bottom:0;left:0;width:100%;height:20%;background-color:#1B5E20;text-align:center;color:#FFF;padding-top:2px;font-weight:bold;font-size:17px;">Language</a></md-grid-tile>
  
  <md-grid-tile style="background-color:#FFC107"><a href="/managecourse"><i style="font-size:48px !important;color:#FFF;" class="material-icons">record_voice_over</i></a><a href="/managecourse" style="position:absolute;bottom:0;left:0;width:100%;height:20%;background-color:#FFAB00;text-align:center;color:#FFF;padding-top:2px;font-weight:bold;font-size:17px;">Trainer</a></md-grid-tile>
  
  <md-grid-tile style="background-color:#795548"><a href="/managecourse"><i style="font-size:48px !important;color:#FFF;" class="material-icons">perm_identity</i></a><a href="/managecourse" style="position:absolute;bottom:0;left:0;width:100%;height:20%;background-color:#3E2723;text-align:center;color:#FFF;padding-top:2px;font-weight:bold;font-size:17px;">User Role</a></md-grid-tile>
</md-grid-list>
    
  <div style="padding-bottom:2%"></div>
  <div class="cardWrapper">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 cardContainer">
        <div class="card" style="background:#F44336;border: 8px solid #B71C1C;">
          <div class="front">
            <i class="material-icons" style="color: #FFF;font-size: 71px !important;margin-top: 29px;">assignment_ind</i>
            <h1>Organization</h1>
          </div>
          <div class="back">
            <div class="content">
              <h1>Organization</h1>
              <ul>
                <li><a href="/mEntity">Entity</a></li>
                <li><a href="/mGroup">Group</a></li>
                <li><a href="/mFunction">Function</a></li>
                <li><a href="/mDepartment">Department</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
 
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 cardContainer">
        <div class="card" style="background:#E91E63;border: 8px solid #880E4F;">
          <div class="front">
            <i class="material-icons" style="color: #FFF;font-size: 71px !important;margin-top: 29px;">assignment_ind</i>
            <h1>Job</h1>
          </div>
           <div class="back">
            <div class="content">
              <h1>Job</h1>
              <ul>
                <li>Job family</li>
                <li>Job role</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
 
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 cardContainer">
        <div class="card" style="background:#9C27B0;border: 8px solid #4A148C;">
          <div class="front">
            <i class="material-icons" style="color: #FFF;font-size: 71px !important;margin-top: 29px;">assignment_ind</i>
            <h1>Competency & Skills</h1>
          </div>
          <div class="back">
            <div class="content">
              <h1>Competency & Skills</h1>
              <ul>
                <li>Competency</li>
                <li>Subcompetency</li>
                <li>Skills</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
 
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 cardContainer">
        <div class="card" style="background:#FF5722;border: 8px solid #BF360C;">
          <div class="front">
            <i class="material-icons" style="color: #FFF;font-size: 71px !important;margin-top: 29px;">assignment_ind</i>
            <h1>Location</h1>
          </div>
          <div class="back">
            <h1>Location</h1>
            <div class="content" id="multiColumn">
              
              <ul>
                <li>Country</li>
                <li>State</li>
                <li>City</li>
                <li>Building</li>
                <li>Floor</li>
                <li>Wing</li>
              </ul>
            </div>
          </div>
          
        </div>
      </div>



    </div>
    <!-- ROW 1 Ends -->
    <!-- ROW 2 Starts -->
     <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 cardContainer">
        <div class="card" style="background:#795548;border: 8px solid #3E2723;">
          <div class="front">
            <i class="material-icons" style="color: #FFF;font-size: 71px !important;margin-top: 29px;">assignment_ind</i>
            <h1>Certificate</h1>
          </div>
          <div class="back">
           <div class="content">
              <h1>Certificate</h1>
              <ul>
                <li>Certifying company</li>
                <li>Certification name</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
 
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 cardContainer">
        <div class="card" style="background:#607D8B;border: 8px solid #263238;">
          <div class="front">
            <i class="material-icons" style="color: #FFF;font-size: 71px !important;margin-top: 29px;">assignment_ind</i>
            <h1>Language</h1>
          </div>
          <div class="back">
            <div class="content">
              <h1>Language</h1>
              <ul>
                <li>Language</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
 
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 cardContainer">
        <div class="card" style="background:#CDDC39;border: 8px solid #827717 ;">
          <div class="front">
            <i class="material-icons" style="color: #FFF;font-size: 71px !important;margin-top: 29px;">assignment_ind</i>
            <h1>Trainer</h1>
          </div>
          <div class="back">
            <div class="content">
              <h1>Trainer</h1>
              <ul>
                <li>Vendor type</li>
                <li>Trainer master</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
 
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 cardContainer">
        <div class="card" style="background:#3F51B5;border: 8px solid #1A237E;">
          <div class="front">
            <i class="material-icons" style="color: #FFF;font-size: 71px !important;margin-top: 29px;">assignment_ind</i>
            <h1>Role</h1>
          </div>
          <div class="back">
            <div class="content">
              <h1>Role</h1>
              <ul>
                <li>Role</li>
              </ul>
            </div>
          </div>
        </div>
      </div>



    </div>
    <!-- Row 2 Ends -->
  </div>
 

<style type="text/css">

.cardWrapper {
  /*margin-top: 50px*/
}
 
.animation {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
 
 
 
.cardContainer {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  
  padding-left: 3%;
}
 
.secondRow {
  margin-top: -1.4%
}
 
.card {
  width: 100%;
  height: 200px;
  cursor: pointer;
  
  margin: 20px auto;
  
  -webkit-transition: -webkit-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
 
.card.flipped {
  -webkit-transform: rotateY( 180deg);
  -moz-transform: rotateY( 180deg);
  -o-transform: rotateY( 180deg);
  transform: rotateY( 180deg);
}
 
.card.flipped: {}
 
.card .front h1 {
  /*background: #333*/
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
}
 
.card .front,
.card .back {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 60px;
  color: white;
  text-align: center;
  font-size: 4em;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 3px 5px 20px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
}
 
.card .back {
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 16px;
  text-align: left;
  line-height: 25px;
}
 
.card .back {
  /*background: #499a91;*/  
  -webkit-transform: rotateY( 180deg);
  -moz-transform: rotateY( 180deg);
  -o-transform: rotateY( 180deg);
  transform: rotateY( 180deg);
}
 
.card .back h1{
  /*line-height: 1.2em;*/
  /*margin-top: 8%;*/
  font-weight: 600;
  font-size: 18px;
  /*margin-top: -4px;*/
}
.card .back ul li a{
  color:#FFF;
  text-decoration: none;
}
div#multiColumn {

    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

.content{
  padding: 0px 18px;
}
</style>

<script type="text/javascript">
$('.card').hover(function() {
  $(this).toggleClass('flipped');
});
</script>


<!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

