
<form name="CourseForm" ng-controller="manageCourseCtrl as ctrl">
<!-- ROW 1 Starts -->
<div layout="row" layout-xs="column">
  <div flex>
      <md-autocomplete
          ng-disabled="ctrl.isDisabled"
          md-no-cache="ctrl.noCache"
          md-selected-item="ctrl.selectedType"
          md-search-text-change="typeSelected(ctrl.selectedType)"
          md-search-text="ctrl.searchType"
          md-selected-item-change="filterSelected(ctrl.selectedType)"
          md-items="item in ctrl.querySearchType(ctrl.searchType)"
          md-item-text="item.display"
          md-min-length="0"
          placeholder="Type">
        <md-item-template>
          <span md-highlight-text="ctrl.searchType" md-highlight-flags="^i">{{item.display}}</span>
        </md-item-template>
        <md-not-found>
          No Type matching "{{ctrl.searchType}}" were found.
        </md-not-found>
      </md-autocomplete>
  </div>
<div flex>
     <md-autocomplete
          ng-disabled="ctrl.isDisabled"
          md-no-cache="ctrl.noCache"
          md-selected-item="ctrl.selectedCompetency"
          md-search-text-change="ctrl.searchTextChange(ctrl.searchCompetency)"
          md-search-text="ctrl.searchCompetency"
          md-selected-item-change="CompetencySelected(ctrl.selectedCompetency)"
          md-items="item in ctrl.querySearchCompetency(ctrl.searchCompetency)"
          md-item-text="item.display"
          md-min-length="0"
          placeholder="Competency">
        <md-item-template>
          <span md-highlight-text="ctrl.searchCompetency" md-highlight-flags="^i">{{item.display}}</span>
        </md-item-template>
        <md-not-found>
          No Competency matching "{{ctrl.searchCompetency}}" were found.
        </md-not-found>
      </md-autocomplete>
  </div>
<div flex>
      <md-autocomplete
          ng-disabled="ctrl.isDisabled"
          md-no-cache="ctrl.noCache"
          md-selected-item="ctrl.selectedsubcompetency"
          md-search-text-change="ctrl.searchTextChange(ctrl.searchsubcompetency)"
          md-search-text="ctrl.searchsubcompetency"
          md-selected-item-change="ctrl.selectedItemChange(item)"
          md-items="item in ctrl.querySearchsubcompetency(ctrl.searchsubcompetency)"
          md-item-text="item.display"
          md-min-length="0"
          placeholder="Sub Competency">
        <md-item-template>
          <span md-highlight-text="ctrl.searchsubcompetency" md-highlight-flags="^i">{{item.display}}</span>
        </md-item-template>
        <md-not-found>
          No SubCompetency matching "{{ctrl.searchsubcompetency}}" were found.
        </md-not-found>
      </md-autocomplete>
  </div>

</div>
<div style="padding-bottom:2%"></div>
<div layout="row" layout-xs="column">
<div flex>
    <md-checkbox ng-model="activestatus" ng-change="getCourse(activestatus)" aria-label="Checkbox 1">
           Show Inactive Course also
          </md-checkbox>
   <md-button ng-click="AddAction()" class="md-raised md-primary" style="float:right;" aria-label="Info"><md-icon class="material-icons">add</md-icon></md-button>
</div>
</div>
<div layout="row" layout-xs="column">

	 <div flex>
      <table class="responstable">
  <tr>
    
    <th data-th="Course details" ng-click="sortTitle()">Course Title<md-icon class="material-icons"><i class="material-icons">{{titleSortIcon}}</i></md-icon></th>
    <th ng-click="sortType()">Type<md-icon class="material-icons"><i class="material-icons">{{typeSortIcon}}</i></md-icon></th>
    <th ng-click="sortDuration()">Duration<md-icon class="material-icons"><i class="material-icons">{{durationSortIcon}}</i></md-icon></th>
    <th colspan="4" style="text-align:center;">Action</th>
  </tr>

  <tr ng-repeat="item in getILTCourse | orderBy:orderList | filter:typeSelectedFilter">
    
    <td>{{item.title}}</td>
     <td>{{item.coursetype}}</td>
    <td>{{item.duration}}{{item.induration}}</td>
   
   <td class="actionclass" ng-hide="item.coursestatus"><md-button class="actionbtn" ng-click="activeCourse(item)" aria-label="Info"><i class="fa fa-eye-slash"></i></md-button></td>
   <td class="actionclass" ng-show="item.coursestatus"><md-button class="actionbtn" ng-click="activeCourse(item)" aria-label="Info"><md-icon class="material-icons"><i class="material-icons"><i class="material-icons">remove_red_eye</i></i></md-icon></md-button></td>
   <td class="actionclass"><md-button ng-click="editCourse(item)" class="actionbtn" ng-click="" aria-label="Info"><md-icon class="material-icons"><i class="material-icons">mode_edit</i></md-icon></md-button></td>
    <td class="actionclass"><md-button class="actionbtn" ng-click="removeCourse(item)" aria-label="Info"><md-icon class="material-icons"><i class="material-icons">delete_forever</i></md-icon></md-button></td>
  </tr>
  
  
</table>
  </div> 
</div>
<!-- ROW 1 Ends -->
</form>

 <link href="assets/css/course.css" rel="stylesheet">
  <link href="assets/css/font-awesome.css" rel="stylesheet">
  <link href="assets/css/font-awesome.min.css" rel="stylesheet">